:root{
    --edge-color: rgb(41, 85, 136);
    --crosses-color: rgb(25, 52, 82);
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    background-color: rgb(188, 255, 255);
}

.top{
    margin: 0px;
    text-align: center;
    width:100%;
}

.top h1{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10;
    font-size: min(45px,14vw);
}

#board{
    background-color: var(--edge-color);
    border: 5px solid var(--edge-color);
}

.square{
    width: 100px;
    height: 100px;
    border: 5px solid var(--edge-color);
}

.row-container{
    display: flex;
}

.square button{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    font-size: 80px;
    border-radius: 8px;
    border-width: 0;
    color: var(--crosses-color);
}

.square button:hover{
    background-color: rgb(202, 211, 219);
    animation-duration: 0.5s;
    animation-name: textbounce;
    animation-fill-mode: forwards;
}

@keyframes textbounce{
    from{
    font-size: 80px;

    }
    to{
    font-size: 84px;
    }
}

.container{
    display: flex;
    justify-content: center;
}

.result{
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
}

.restartDiv{
    margin-top: 30px;
    display: flex;
    justify-self: center;
}

.restartDiv button{
    width: 150px;
    height: 60px;
    font-size: 35px;
    border-radius: 8px;
    background-color: aliceblue;
}